# Node
node_modules
dist
npm-debug.log*

# Python
venv
__pycache__
*.pyc
*.pyo
*.pyd

# Environment
.env

# Mac
.DS_Store

# Vite
.vite

# Build
build

# Logs
logs
*.log

# ML Models
*.pth
*.pt

# Cache
.cache

# IDE
.vscode/settings.json
